#model_1 {
    text-align: center;
    font-size: 16px;
}

.td1 {
    width: 150px;
    text-align: center;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
}

.td2 {
    width: 350px;
}

.p123 {
    text-align: left;
    padding-left: 100px;
}

.p1234 {
    text-align: left;
    padding-left: 220px;
    padding-top: 8px;
}