.model_model_3 {
    align-content: center;
    text-align: center;
}

.m3_content {
    margin: 0 auto;
}

.m3 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}


/*标题*/

.m3_title {
    font-size: 24px;
    line-height: 200%;
}


/*编号*/

.m3_order {
    width: 100%;
    line-height: 200%;
    text-align: right;
}

.m3_table {
    margin: auto;
    width: 100%;
    table-layout: fixed;
}

.m3_table tr td {
    padding: 20px;
}

.m3_content_named {
    line-height: 230%;
    text-align: left;
}


/*文本*/

.m3_content_section1 {
    text-indent: 2em;
    text-align: justify;
    line-height: 230%;
    word-wrap: break-word;
}


/*公章*/

.m3_content_section2 {
    padding-left: 75%;
    padding-bottom: 80px;
    padding-top: 50px;
}


/*签章*/

.m3_content_section3 {
    padding-top: 20px;
    padding-left: 45%;
    line-height: 240%;
    padding-bottom: 70px;
}


/*年月日*/

.m3_content_sign {
    padding-right: 20px;
    text-align: right;
}

.m3_end {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
}

.m3_button_hide {
    display: none;
}

@media print {
    .m3 {
        width: 100%;
    }
    .m3_table {
        width: 100%;
    }
    /*.m3_button {
        display: none;
    }*/
    .m3_noprint_button {
        display: none;
    }
    .m3_table_opacity {
        border-color: transparent;
    }
    .m3_opacity {
        opacity: 0.0;
    }
    /*.m3_ordernum,
    .m3_table_topic,
    .m3_unpri,
    .m3_content_section1,
    .m3_content_section2,
    .m3_content_sign,
    .m3_content_tr2,
    .m3_end {
        opacity: 0.0;
        border-color: transparent;
    }
    .m3_table {
        border-color: transparent;
    }
    .m3_table tr td {
        border-color: transparent;
    }
    .m3_span,
    .m3_ordernum_span {
        opacity: 1.0;
        color: black;
    }*/
}