 .model_model_2 {
     align-content: center;
     text-align: center;
 }

 .m2 {
     width: 70%;
     margin-left: auto;
     margin-right: auto;
 }

 .m2_noticenum {
     text-align: right;
     font-size: 16px;
     line-height: 200%;
 }
 /*通知标题*/

 .m2_title {
     font-size: 24px;
     line-height: 200%;
 }
 /*表格中文字大小，表格的高度*/

 .m2_table {
     font-size: 16px;
     line-height: 150%;
 }
 /*表格中文字与边框的间距*/

 .m2_table td {
     padding: 10px
 }
 /*.m2_table_td1,
 .m2_table_td2,
 .m2_table_td3,
 m2_table_td4,
 .m2_table_td5,
 m2_table_td6,*/

 .m2_td2 {
     width: 300px;
 }

 #m2_table_tr {
     height: 20px;
 }
 /*左右对齐*/

 .m2_table_td1,
 .m2_table_td2,
 .m2_table_td3,
 .m2_table_td4,
 .m2_table_td5,
 .m2_table_td6 {
     width: 30%;
     text-align: center;
     text-align: justify;
     text-align-last: justify;
     padding: 5px 10px 5px 10px;
 }
 /*设置注意事项高度*/

 .m2_td3 {
     height: 500px;
 }

 .m2_care {
     text-align: left;
     padding: 30px 0px 10px 40px;
 }

 .m2_care123 {
     text-align: left;
     padding: 0px 0px 0px 40px;
     text-indent: 2em;
 }

 .m2_link {
     /*text-align: right;
     padding-right: 250px;*/
     padding-top: 80px
 }

 .m2_contrat {
     text-align: left;
     padding-left: 400px;
 }

 .m2_phone {
     text-align: left;
     padding-left: 400px;
 }

 .m2_date {
     text-align: right;
     padding-right: 50px;
     padding-top: 5px;
 }

 .m2_seal {
     text-align: right;
     padding-right: 70px;
     padding-bottom: 80px;
 }
 /*备注区*/

 .m2_remark {
     font-size: 14px;
     padding-bottom: 20px;
     text-align: left;
     padding-left: 20px;
 }

 @media print {
     .m2 {
         width: 100%;
     }
     .m2_button {
         display: none;
     }
     .m2_td2 {
         text-align: center;
     }
     .opa {
         opacity: 0.0;
     }
     .opata {
         border-color: transparent;
     }
     .datas {
         opacity: 1.0;
         color: black;
     }
     .m2_noticenum_span {
         display: inline-block;
         text-align: right;
         padding-right: 60px;
         /*border-bottom: 0px;*/
         /*border-bottom: hidden;*/
     }
     /*.lineBot {
         opacity: 0.0;
     }*/
 }
 /*没填写数据前将打印数据按钮隐藏*/

 .m2_btn {
     display: none;
 }
 /*通知单编号样式设置*/

 .m2_noticenum_span {
     display: inline-block;
     margin: 0;
     border-bottom: 1px solid #000000;
     width: 180px;
     line-height: 16px;
     text-align: center;
     /*clear: both;*/
 }