.model_model_1 {
    align-content: center;
    text-align: center;
}

.m1_content {
    margin: 0 auto;
}

.m1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
/*通知单编号*/

.m1_noticenum {
    text-align: right;
}
/*通知标题*/

.m1_title {
    font-size: 24px;
    line-height: 200%;
}
/*表格中文字大小，及行高*/

.m1_table,
.m1_noticenum {
    font-size: 16px;
    line-height: 200%;
}
/*table区在div中的位置*/

.m1_table {
    width: 100%;
    margin: 0px;
    margin: 0 auto;
}
/*表格中文字与边框的间距*/

.m1_table td {
    padding: 20px
}
/*文本居左，首行缩进2个字符*/

.m1_p1,
.m1_p2,
.m1_lender,
.m1_legal,
.m1_confirmtext
{
    text-indent: 2em;
    text-align: left;
}
/*两端对齐*/
.m1_p1{
    text-align: justify;
}
/*文本居左*/
.m1_loader,
.m1_borrower,
.m1_guarantor,
.m1_signer {
    text-align: left;
}
/*盖章区域调整*/

.m1_lender,
.m1_legal,
.m1_borrower,
.m1_guarantor {
    margin-bottom: 80px;
}
/*特此通知的位置*/

.m1_p3 {
    text-align: right;
    padding-top: 20px;
    padding-right: 100px;
}
/*时间的位置*/

.m1_date1 {
    text-align: right;
    padding-right: 80px;
}

.m1_date2,
.m1_date3 {
    text-align: right;
    padding-right: 80px;
}
/*信贷员的位置*/

.m1_officer {
    padding-left: 200px;
}
/*公章的位置*/

.m1_seal {
    padding-left: 120px;
}
/*打印数据按钮隐藏*/
.m1_bttton_hide{
    display: none;
}

/*打印样式设置*/
@media print {
    .m1 {
        width: 100%;
    }
    .m1_table {
        width: 100%;
    }
    .m1_noprint_button {
        display: none;
    }
    .m1_opacity {
        opacity: 0.0;
    }
    .m1_table_opacity {
        border-color: transparent;
    }
}
