.m3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.m3_ordernum_span {
    text-align: right;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    table-layout: fixed;
}

table tr td {
    padding: 20px;
}

.m3_table_topic {
    text-align: center;
}

.m3_content_named {
    line-height: 300%;
    font-size: 18px;
    text-align: left;
}

.m3_content_tr1 {
    font-size: 18px;
    width: 40%;
    margin: 10px;
}

#m3_content_section1 {
    text-indent: 2em;
    font-size: 18px;
    text-align: justify;
    line-height: 260%;
    word-wrap: break-word;
}

#m3_content_section2 {
    padding-left: 50%;
    line-height: 350%;
}

#m3_content_section3 {
    font-size: 16px;
    text-indent: 2em;
    text-align: justify;
    line-height: 200%;
}

#m3_content_sign {
    text-align: right;
}

.m3_content_tr2 {
    font-size: 16px;
    width: 40%;
    margin: 10px;
}

.m3_end {
    font-size: 14px;
    padding-left: 20px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
}

@media print {
    .m3 {
        width: 100%;
    }
    .m3_table {
        width: 100%;
    }
    /*.m3_button {
        display: none;
    }*/
    .m3_noprint_button {
        display: none;
    }
    .m3_table_opacity {
        border-color: transparent;
    }
    .m3_opacity {
        opacity: 0.0;
    }
    /*.m3_ordernum,
    .m3_table_topic,
    .m3_unpri,
    .m3_content_section1,
    .m3_content_section2,
    .m3_content_sign,
    .m3_content_tr2,
    .m3_end {
        opacity: 0.0;
        border-color: transparent;
    }
    .m3_table {
        border-color: transparent;
    }
    .m3_table tr td {
        border-color: transparent;
    }
    .m3_span,
    .m3_ordernum_span {
        opacity: 1.0;
        color: black;
    }*/
}